!!! 5
%html(lang='en-US')
  %head
    %title Maine
    %link(href='http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica' rel='stylesheet' type='text/css')
    %link(href='/stylesheets/styles.css' rel='stylesheet' type='text/css')

  %body
    %h1
      %a(href='/') Maine
    %p= @fact_producer.educate
    %a(href='https://github.com/jwworth/maine') [github]
