body
  color: navy
  margin: 0 auto
  width: 900px
  text-align: center
  background: #fff
  color: #000066
  a
    text-decoration: initial
    color: #000066
  h1
    a
      font-family: 'IM Fell DW Pica'
      font-size: 100px
  footer
    padding-top: 20px
